/* mobile and desktop image links */
// https://dl.dropboxusercontent.com/s/d4v4xuvrtssqrxp/SASS_breakout_land_mobile.jpg
// https://dl.dropboxusercontent.com/s/3prtg3l7aeiyog3/SASS_breakout_land_desktop.jpg

/* heart icon */
//https://dl.dropboxusercontent.com/s/80dyd1ct5di7484/SASS_breakout_land_heart.png

.full-block {
    background-color:$primary-color;
    position:relative;
    max-width: 1280px;
    margin: 0 auto;
    &__img {
        text-decoration: underline;
        &.mobile {
            display: none;
            @media(max-width:767px) {
                display:block;
            }
        }
        &.desktop {
            @media(max-width:767px) {
                display:none;
            }
        }
    }
    &__info {
        position: absolute;
        top: 24%;
        left: 10%;
        padding: 1rem;
        @media(max-width:767px) {
            position: relative;
            top: 0;
            left: 0;
            padding: 1rem;
            text-align: center;
        }
        &_img {
            @include rotate(-25deg);
            position: absolute;
            top: -16%;
            left: -19%;
            @media(max-width:767px) {
                position: relative;
                top: 0;
                left: 0;
            }
        }
        &_title {
            font-size:2rem;
            font-family: 'Open Sans Condensed', sans-serif;
            line-height:1.2;
            color:#333;
            margin:1rem 0;
            text-shadow: 1px 1px 1px #ccc;
        }
        &_subtitle {
            font-size: 1rem;
            font-family: 'Open Sans Condensed', sans-serif;
            line-height: 1.2;
            color: #ccc;
            margin: 1rem 0;
        }
        &_cta-wrapper {
            margin: 1rem 0;
            display: inline-block;
            &_cta {
                border: 1px solid #000;
                padding: .6rem .8rem;
                color: #000;
                line-height: 3;
                &:hover {
                    color: $primary-color;
                    background-color:#000;
                    text-decoration: none;
                }
            }
        }
    }
}



